@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg,#440F50, #B15B86);
    background: -moz-linear-gradient(45deg,#440F50, #B15B86);
    background: -webkit-linear-gradient(45deg,#440F50, #B15B86);
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.wrapper{
    margin-top: 40px;
    padding: 35px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.wrapper.active .cardx img{
    opacity: 1 !important;
}
.wrapper.active .cardx{
    pointer-events: none;
}

/* .wrapper.finish .mainCardx{
    display: none;
} */
.wrapper.finish .finish-message{
    display: block;
}
.mainCardx{
    background: white;
    padding: 30px;
}

.finish-message{
    display: none;
    text-align: center;
    position: fixed;
    z-index: 65;
    background: rgba(0, 0, 0, 0.781);
    padding: 50px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid orange;
}

.mainCardx{
    display: grid;
    grid-template-columns: repeat(4,0fr);
    gap:5px;
    border-collapse: collapse;
}
.cardx{
    width: 120px;
    height: 120px;
    border: 2px solid grey;
    cursor: pointer;
    background: grey;
    overflow: hidden;
    pointer-events: auto;
    z-index: 55;
}
.cardx img{
    width: 100%;
    opacity: 0;
}

.start-game{
    border: 3px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    background: orange;
    font-size: 30px;
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.start-game p{
    margin-bottom: 0;
}
/* --------------- reset button ----------------- */
.reset-btn {
    outline: none;
    border: 3px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    background: orange;
    font-size: 30px;
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.reset-btn {
    display: none;
}
.reset-btn p{
    margin-bottom: 0;
}


/* --------------- Pop up message ----------------- */
.pop-message{
    /* position: fixed;
    left: 0;
    bottom: 0; */
    padding: 20px 25px;
    background-color: white;
    color: red;
    font-size: 25px;
    font-weight: 600;
    border: 5px solid black;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 60;
    margin-top: 50px;
}

.pop-message h2{
    margin-bottom: 0;
}

/* --------------- Pop up Counter ----------------- */
.pop-counter{
    font-size: 5em;
    color: orange;    
    transition: all 0.2s;
    background: rgba(0, 0, 0, 0.37);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/* --------------- left side navigation ----------------- */
.score{
    background: white;  
    border-radius: 5px;
    width: 100%;
    /* margin-right: 80px; */
}
.score p{
    margin: 30px 15px;
    font-size: 25px;
    font-weight: 600;
}
.remaining-time{
    background: white;   
    border-radius: 5px;
    width: 100%;
    /* margin-right: 80px; */
    margin-bottom: 20px;
    margin-top: 15px;
    border: 3px solid #007ACC;
    display: flex;
    align-items: center;
}
.remaining-time p{
    margin: 15px 10px;
    font-size: 18px;
}
#remainingTime{
    font-size: 25px ;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 0;
}


.top-score{
    margin: 20px 0;
    background: white;  
    border-radius: 5px;
    width: 100%;
    /* margin-right: 80px; */
}
.top-score h5{
    margin: 10px 15px;
    font-size: 18px;
    font-weight: 600;    
}
.top-score p{
    margin: 10px 15px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.top-score p:nth-child(1){
    color: red;
}
.top-score p:nth-child(2){
    color: red;
}
.top-score p:nth-child(3){
    color: red;
}








@media only screen and (max-width:580px){
    .cardx{
        width: 70px;
        height: 70px;
        border: 2px solid grey;
        cursor: pointer;
        background: grey;
        overflow: hidden;
        pointer-events: auto;
        z-index: 55;
    }
    .wrapper{
        margin-top: 20px;
        padding: 35px 0px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
}